bin/
obj/

**/bin/
**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log
webapi.out.log
webapi.err.log

DataProtectionKeys/
**/DataProtectionKeys/

uploads/
wwwroot/uploads/
**/wwwroot/uploads/

.vs/
.vscode/
